<div class="chat-header clearfix">
  <div class="row">
    <div class="col-lg-6">
      <a href="javascript:alert('not yet implemented');" data-toggle="modal" data-target="#view_info">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
      </a>
      <div class="chat-about">
        <h6 class="m-b-0">Aiden Chavez</h6>
        <small>Last seen: 2 hours ago</small>
      </div>
    </div>
    <div class="col-lg-6 hidden-sm text-right">
      <a href="javascript:alert('not yet implemented');" class="btn btn-outline-secondary"><em class="fa fa-camera"></em></a>
      <a href="javascript:alert('not yet implemented');" class="btn btn-outline-primary"><em class="fa fa-image"></em></a>
      <a href="javascript:alert('not yet implemented');" class="btn btn-outline-info"><em class="fa fa-cogs"></em></a>
      <a href="javascript:alert('not yet implemented');" class="btn btn-outline-warning"><em class="fa fa-question"></em></a>
    </div>
  </div>
</div>
